@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/order.css" asp-append-version="true" />
<div class="order">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand titleOrder" href="#">Bán Hàng</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline my-2 my-lg-0 searhOrder">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div class="collapse navbar-collapse" id="navbarOrderContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item buttonAddOrder">
                    <a class="nav-link" href="#"><span class="sr-onlys">+ </span> Thêm mới </a>
                </li>
                <li class="nav-item buttonlist">
                    <a class="nav-link " href="#" ><span class="fa fa-list" aria-hidden="true"></span> </a>
                </li>
            </ul>

        </div>
    </nav>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Mã Hàng</th>
                <th scope="col">Tên Hàng</th>
                <th scope="col">Giá Bán </th>
                <th scope="col">Giá Vốn</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Otto</td>
            </tr>
        </tbody>
    </table>


</div>